@charset "ISO-8859-1";

/* Custom CSS styles */
body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
	margin: 0;
	padding: 0;
}

header {
	background-color: #AB46D2;
	color: white;
	padding: 10px 0;
	text-align: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

nav a {
	color: white;
	text-decoration: none;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.card {
	/* Remove the border property to remove the black border */
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	font-weight: bold;
}

input[type="text"], input[type="file"] {
	width: 100%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	background-color: #AB46D2;
	color: white;
	cursor: pointer;
}

button:hover {
	background-color: #F65A83;
}

img {
	max-width: 100px;
	max-height: 100px;
}